{
	email "tim@kye.dev"
}

*.local.kye.dev {
	tls {
		dns route53 {
			access_key_id "{env.AWS_ACCESS_KEY}"
			secret_access_key "{env.AWS_ACCESS_SECRET}"
			region "us-west-2"
		}
	}

	@adguard host adguard.local.kye.dev
	handle @adguard {
		reverse_proxy 192.168.0.17:80
	}

	@cockpit host cockpit.local.kye.dev
	handle @cockpit {
		reverse_proxy 192.168.0.11:9090
	}

	@dns host dns.local.kye.dev
	handle @dns {
		reverse_proxy 192.168.0.17:80
	}

	@food host food.local.kye.dev
	handle @food {
		reverse_proxy 192.168.0.21:3000
	}

	@gstudio host gstudio.local.kye.dev
	handle @gstudio {
		reverse_proxy 192.168.0.25:9000
	}

	@home host home.local.kye.dev
	handle @home {
		reverse_proxy 192.168.0.20:3000
	}

	@homeassistant host homeassistant.local.kye.dev
	handle @homeassistant {
		reverse_proxy 192.168.0.15:8123
	}

	@jellyfin host jellyfin.local.kye.dev
	handle @jellyfin {
		reverse_proxy 192.168.0.20:8096
	}

	@jellyseer host jellyseer.local.kye.dev
	handle @jellyseer {
		reverse_proxy 192.168.0.20:5055
	}

	@movies host movies.local.kye.dev
	handle @movies {
		reverse_proxy 192.168.0.20:7878
	}

	@music host music.local.kye.dev
	handle @music {
		reverse_proxy 192.168.0.20:8686
	}

	@nginx host nginx.local.kye.dev
	handle @nginx {
		reverse_proxy 192.168.0.12:81
	}

	@plex host plex.local.kye.dev
	handle @plex {
		reverse_proxy 192.168.0.20:32400
	}

	@portainer host portainer.local.kye.dev
	handle @portainer {
		reverse_proxy https://192.168.0.20:9443 {
			transport http {
				tls_insecure_skip_verify
			}
		}
	}

	@prowl host prowl.local.kye.dev
	handle @prowl {
		reverse_proxy 192.168.0.20:9696
	}

	@qbit host qbit.local.kye.dev
	handle @qbit {
		reverse_proxy 192.168.0.20:8200
	}

	@subs host subs.local.kye.dev
	handle @subs {
		reverse_proxy 192.168.0.20:6767
	}

	@syncthing host syncthing.local.kye.dev
	handle @syncthing {
		reverse_proxy 192.168.0.20:8384
	}

	@transmission host transmission.local.kye.dev
	handle @transmission {
		reverse_proxy 192.168.0.20:9091
	}

	@tv host tv.local.kye.dev
	handle @tv {
		reverse_proxy 192.168.0.20:8989
	}
}
